<% provide :page_title, t('title.questions') %>
<% currently_at t('header.questions') %>

<h2 class="text-center mb-4"><%= t('header.questions') %></h2>

<%= link_to t('questions.new'), new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%= pagination @pagy %>
<% @questions.each do |question| %>
  <article class="card my-3">
    <div class="card-body">
      <h4><%= question.title %></h4>

      <section class="card-text">
        <time datetime="<%= question.formatted_created_at %>">
          <small><%= question.formatted_created_at %></small>
        </time>

        <p class="my-2">
          <%= truncate strip_tags(question.body), length: 150, omission: '... (continued)' %>
        </p>
      </section>

      <%= link_to t('show'), question_path(question), class: 'btn btn-primary' %>
      <%= link_to t('edit'), edit_question_path(question), class: 'btn btn-secondary' %>
      <%= link_to t('destroy'), question_path(question), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
<%= pagination @pagy %>
