<% provide :page_title, t('title.questions') %>
<% currently_at t('header.questions') %>

<h2 class="text-center mb-4"><%= t('header.questions') %></h2>

<%= link_to t('questions.new'), new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%= pagination @pagy %>
<%= render @questions %>
<%= pagination @pagy %>
