<% provide :page_title, 'Question' %>
<% currently_at 'Questions' %>

<!-- Question start -->
<h2 class="mb-4"><%= @question.title %></h2>
<%= @question.user.gravatar(css_class: "me-2") %>

<time datetime="<%= @question.formatted_created_at %>">
  <%= @question.formatted_created_at %>
</time>

<div class="lead my-3">
  <%= sanitize @question.body %>
</div>
<div class="btn-group">
  <%= link_to t('back'), questions_path, class: 'btn btn-primary' %>
  <%= link_to t('edit'), edit_question_path(@question), class: 'btn btn-secondary' %>
  <%= link_to t('destroy'), question_path(@question), class: 'btn btn-danger',
    data: {method: :delete, confirm: 'Are you sure?'} %>
</div>

<div class="my-3">
  <%= render 'comments/commentable', commentable: @question, comment: @comment, html_id: 'questionComments' %>
</div>
<!-- Question end -->

<hr class="my-3">

<div class="row">
  <!-- Answer's Form start-->
  <div class="col-6">
    <h4 class="mb-3">Write your answer</h4>
    <%= render 'answers/form' %>
  </div>
  <!-- Answer's Form end -->

  <!-- Answers start -->
  <div class="col-6">
    <% if @answers.present? %>
      <h4 class="mb-3"><%= @answers.length > 1 ? "Answers" : "Answer" %></h4>
      <%= pagination @pagy %>
      <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>
      <%= pagination @pagy %>
    <% end %>
  </div>
  <!-- Answers end -->
</div>
