<%= provide :header do %>
  <header class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to 'AskIt', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2">
            <li class="nav-item dropdown">
              <%= link_to '#', class: 'nav-link dropdown-toggle', data: {"bs-toggle": 'dropdown' } do %>
                <%= tag.div '', class: "flag #{I18n.locale}-flag" %>
                <%= t I18n.locale %>
              <% end %>
              <ul class="dropdown-menu pull-left dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <% if I18n.locale == locale %>
                      <%= tag.span t(locale), class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to t(locale), root_path(locale: locale), class: 'dropdown-item' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= nav_link t('header.home'), root_path, class: 'nav-link', current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_link t('header.questions'), questions_path, class: 'nav-link', current_page: current_page %>
              </li>
              <li class="nav-item dropdown">
                <%= link_to '#', class: 'nav-link dropdown-toggle', data: {'bs-toggle': 'dropdown'}, current_page: current_page do %>
                  <%= current_user.gravatar  %>
                  <%= current_user.name_or_email %>
                <% end %>
                <ul class="dropdown-menu dropdown-menu-lg-end border-0 border-dark" aria-labelledby="navbarDropdown">
                  <%= nav_link t('header.profile.edit'), edit_user_path(current_user), class: 'dropdown-item', current_page: current_page %>
                  <li><hr class="dropdown-divider"></li>
                  <%= link_to t('header.profile.sign_out'), session_path, data: {method: :delete}, class: 'dropdown-item' %>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= nav_link 'Sign Up', new_user_path, class: 'nav-link', current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_link 'Log In', new_session_path, class: 'nav-link', current_page: current_page %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<% end %>
