<%= render 'shared/errors', object: @answer %>

<%= form_for [@question, @answer] do |f| %>
  <div class="mb-3">
    <%= f.label :body, class: 'visually-hidden' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% unless @answer.new_record? %>
    <%= link_to t('back'), question_path(@question), class: 'btn btn-secondary' %>
  <% end %>
  <%= f.submit class: 'btn btn-outline-primary' %>
<% end %>
